
@font-face {
    font-family: 'brandon_printedtwo';
    src: url('brandonprinted-two-webfont.eot');
    src: url('brandonprinted-two-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandonprinted-two-webfont.woff2') format('woff2'),
         url('brandonprinted-two-webfont.woff') format('woff'),
         url('brandonprinted-two-webfont.ttf') format('truetype'),
         url('brandonprinted-two-webfont.svg#brandon_printedtwo') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_printedextras';
    src: url('brandonprinted-extras-webfont.eot');
    src: url('brandonprinted-extras-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandonprinted-extras-webfont.woff2') format('woff2'),
         url('brandonprinted-extras-webfont.woff') format('woff'),
         url('brandonprinted-extras-webfont.ttf') format('truetype'),
         url('brandonprinted-extras-webfont.svg#brandon_printedextras') format('svg');
    font-weight: normal;
    font-style: normal;

}
