{% extends "site_base.html" %}

{% load boxes_tags %}
{% load i18n %}
{% load sponsorship_tags %}
{% load staticfiles %}
{% load thumbnail %}
{% load biblion_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}
{% block site_brand %}<a class="navbar-brand" href="{% url 'home' %}">
          </a>
{% endblock site_brand %}
{% block wrapper_class %}{% endblock wrapper_class %}
{% block topbar_base %}{% endblock topbar_base %}
{% block body_outer %}


<!-- headline -->
      <div class="main-header" style="margin-top:70px;">
        <div class="text-center">
        <h1>DjangoCon US</h1>
        <h2>Austin - Fall 2015</h2>
        </div>
        </div>
<!-- /headline -->

<!-- call to action -->
      <div class="row cta-section">
      <div class="container">

        <div class="col-xs-12 col-sm-4 col-md-4 cta">
        
          <svg width="100" height="100">
                <image xlink:href="{% static "images/proposal-icon.svg" %}" src="{% static "images/proposal-icon.png" %}" width="100" height="100"/>
              </svg>
            <div class="cta-content">
            Call for Proposals - Spring 2015
            </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 cta">
          <svg width="100" height="100">
                <image xlink:href="{% static "images/sponsor-icon.svg" %}" src="{% static "images/sponsor-icon.png" %}" width="100" height="100"/>
              </svg>
            <div class="cta-content">
            Become a Sponsor - Winter 2014
            </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 cta">
    
          <svg width="100" height="100">
                <image xlink:href="{% static "images/register-icon.svg" %}" src="{% static "images/register-icon.png" %}" width="100" height="100"/>
              </svg>
            <div class="cta-content">
            Registration Info - Spring 2015
            </div>
        </div>
        
      </div>
      </div>
<!-- /call to action -->







{% endblock body_outer %}

{% block footer_base %}

    <div class="row" id="footer">
      <div class="container">

        <div class="col-md-6 col-centered">
          <div class="contact-us">Questions? Comments?</div><a href="mailto:djangocon-organizers@googlegroups.com">Contact Us</a><br>
          Design + Build by
              <a href="http://www.caktusgroup.com">Caktus Consulting Group, LLC</a> using <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a><br />
              Hosted on <a href="https://gondor.io">Gondor</a><br>
              {% if request.user.is_anonymous %}
              <a href="/account/login/">Admin login</a>
              {% endif %}
              {% if request.user.is_staff %}
                        <a href="{% url THEME_ADMIN_URL|default:"admin:index" %}"> {% trans "Admin" %}</a></li>
                    {% endif %}
            <p>©{% now "Y" %} DjangoCon</p>
          </div>
       </div>
    </div>
    {% endblock footer_base %}
