.jumbotron {
	background: url("../images/portlandwater.jpg") no-repeat center 20% / cover; 
	background-color: #fff;
	height:300px;
	padding-top:60px;
	margin-bottom: 0;
	color:#63da81;
	text-shadow: 3px 3px 12px #000;
		}

.main-msg {
	padding: 20px;

}

.callforpapers {text-align: left;}

li {
	color:#363751;}

.location {
	background-color: #363751;
	padding:20px 0 30px 0;}

body {
	font-style: normal;
	font-weight: 400;
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	background-color: #4CBA68;
	text-align: center;
	font-size:16px;
	}

h1 {
 	font-weight: 700;
 	font-size: 70px;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
	margin-bottom: 20px;
}
	

.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.panel {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 0px;
}

hr {
	border-top: 1px dashed #fff; 
}	

.logo {
	background-color: rgba(255, 255, 255, 0.7);

}

.top-buffer { margin-top:25px; }
.bottom-buffer { margin-bottom:50px; }

@media (max-width: 767px) {
	h1 {font-size: 46px;}
	h2 {font-size: 26px;}
	.logo {margin-bottom:15px;}
	.main-msg {padding: 0;}
}