{% load thumbnail %}

<div class="container">
  <div class="col-md-12 col-centered sponsorship-level-wrapper">
    <div class="sponsorship-level">{{sponsor.grouper}}</div>
  </div>
</div>

<div class="container">

  {% for sponsor in sponsor.list %}
  <div class="col-md-6 col-sm-6 col-xs-12 sponsorship-detail diamond">
    <div class="sponsor-thumbnail" id="{{sponsor.name|slugify}}">
    <img src="{% thumbnail sponsor.website_logo '132x132' %}" alt="{{ sponsor.name }}" />
    </div>
    <h3><a href="{{ sponsor.external_url }}">{{ sponsor.name }}</a></h3>
    {% if sponsor.listing_text %}
      <p>{{ sponsor.listing_text|urlize }}</p>
    {% endif %}
  </div>
  {% endfor %}

</div>