{% load thumbnail %}

<div class="container">
  <div class="col-md-12 col-centered sponsorship-level-wrapper">
    <div class="sponsorship-level">{{sponsor.grouper}}</div>
  </div>
</div>

<div class="container">

  {% for sponsor in sponsor.list %}
  <div class="col-md-3 col-sm-3 col-xs-6 sponsorship-detail silver">
    <a class="anchor" id="{{ sponsor.name|slugify }}"></a>
    <div class="sponsor-thumbnail">
      <a href="{{ sponsor.external_url }}">
        <img src="{% thumbnail sponsor.website_logo '132x80' %}" alt="{{ sponsor.name }}" />
      </a>
    </div>
    <h3><a href="{{ sponsor.external_url }}">{{ sponsor.name }}</a></h3>
    {% if sponsor.listing_text %}
      <p>{{ sponsor.listing_text|urlize }}</p>
    {% endif %}
  </div>
  {% endfor %}

</div>
